doctype html


include ../../Components/SharedSingletons/Header.pug


html(lang="en")

  head

    title Cats - NNN Pet shop

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")


  body

    +Header

    main
