mixin Header

  header.Header&attributes(attributes)

    //- ./images/NNN_PetShopLogo.svg
    img(
      src="@Shared/NNN_PetShopLogo"
      alt="The logo of NNN pet shot"
    )

    h1 The NNN pet shop

