extends ../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../SharedAssets/Markup/SharedAssets.russian.pug
  include ../../../SharedComponents/SharedComponents.russian.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("Настройки Обработки Стилей"),
        description:
            "Описание конфигурации обработки стилей (исходный код: Stylus, выходной код: CSS) в «Yamato Daiwa Automation» " +
              "(сокращённо: «YDA», читается: «Уай-ди-эй»), Node.js-утилите для сборки проектов (клиентских веб-приложений, " +
              "серверных приложений, консольных утилит, библиотек)."
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute("configurationFile.stylesProcessing");

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.configurationFile.$children.stylesProcessing.$URI,
      japanese: routing.japanese.configurationFile.$children.stylesProcessing.$URI
    });

    const {
      $heading: topHeading,
      $sectioning: localizedSectioning
    } = localizedRouting.configurationFile.$children.stylesProcessing;


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    //- ━━━ `$stylesProcessing` — Настройки обработки разметки ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h1.Article-Heading1!= topHeading

    p.Article-Paragraph.
      Обработка #[+Term--YDID стилей] может быть настроена в
        #[+ImportantEntity__Code--YDID $projectBuilding.$stylesProcessing]
        #[+Term--YDID файла конфигурации] (#[+ImportantEntity--YDID yda.config.yaml] #[+Keyphrase--YDID по умолчанию]):

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.YAML }).
        $projectBuilding:

          $stylesProcessing:

            # Задайте настройки обработки стилей здесь в соответствии с данным руководством


    //- ━━━ `$common` — общие настройки  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    +Heading--YDF({
      level: 2,
      innerHTML: localizedSectioning.common.$heading,
      HTML_ID: localizedSectioning.common.$anchor
    }).Article-Heading2

    +PropertyMetadata--YDF_DK({
      type: RawObjectDataProcessor.ValuesTypesIDs.associativeArrayOfUniformTypeValues,
      required: false,
      minimalEntriesCount: 1,
      allowedKeys: [
        "$staticPreview",
        "$localDevelopment",
        "$testing",
        "$staging",
        "$production"
      ]
    })

    p.Article-Paragraph
      | Настройки, #[+Keyword--YDID не]&nbsp;связанные с конкретной
      |
      +Link--YDF({
        internalURI: localizedRouting.terminology.$sectioning.entryPointsAndChildrenFiles.$children.entryPointsGroup.$URI
      }).Article-Link группой точек входа
      |   и не&nbsp;принадлежащие другим подкатегориям обработки #[+Term--YDID стилей].
      | На данный момент #[+Keyword--YDID все] настройки этой подкатегории #[+Keyword--YDID необходимо] указывать
      | #[+Keyphrase--YDID для каждого]
      |
      +Link--YDF({
        internalURI: localizedRouting.terminology.$sectioning.projectBuildingMode.$URI
      }).Article-Link режима сборки проекта
      |
      | #[+Keyword--YDID отдельно].

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.YAML }).
        $projectBuilding:

          $markupProcessing:

            $common:

              $staticPreview:

                # Определите здесь настройки для режима статического превью

              $localDevelopment:

                # Определите здесь настройки для режима локальной разработки

              $testing:

                # Определите здесь настройки для режима тестирования

              $staging:

                # Определите здесь настройки для режима инсценирования

              $production:

                # Определите здесь настройки для режима «продакшен»


    p.Article-Paragraph.
      Данная подкатегория включает в себя нижеследующие настройки.


    //- ─── `secondsBetweenFileUpdatingAndStartingOfRebuilding` — ──────────────────────────────────────────────────────
    //- ─── секунд между сохранением файла разметки и началом пересборки ───────────────────────────────────────────────
    +Heading--YDF({
      level: 3,
      innerHTML: localizedSectioning.common.$children.secondsBetweenFileUpdatingAndStartingOfRebuilding.$heading,
      HTML_ID: localizedSectioning.common.$children.secondsBetweenFileUpdatingAndStartingOfRebuilding.$anchor
    }).Article-Heading3

    +PropertyMetadata--YDF_DK({
      type: Number,
      numbersSet: RawObjectDataProcessor.NumbersSets.naturalNumber,
      defaultValue: 1
    })

    p.Article-Paragraph
      | Определяет, сколько #[+Keyword--YDID секунд] должно пройти с момента сохранения #[+Keyword--YDID исходного]
      |   #[+Term--YDID файла стилей] (то есть #[+Term--YDID Stylus-файла]) до начала нового цикла обработки
      |   #[+Term--YDID файлов стилей] включая преобразование из #[+ImportantEntity--YDID Stylus] в
      |   #[+ImportantEntity--YDID CSS].
      | Актуально для
      |
      +Link--YDF({
        internalURI: localizedRouting.terminology.$sectioning.projectBuildingMode.$URI
      }).Article-Link инкрементальных режимов сборки
      |
      | (#[+Term--YDID статическое превью], #[+Term--YDID локальная разработка]).

    p.Article-Paragraph.
      Даже если редактор кода или #[+Term--YDID интегрированная среда разработки] может сохранять несколько файлов
        [+Keyword--YDID разом], #[+Keyphrase--YDID на самом деле] они сохраняются #[+Keyword--YDID не] одновременно, а
        #[+Keyphrase--YDID с разницей в несколько #[+Term--YDID миллисекунд]].
      Кроме того, обнаружение изменения статуса файлов соответствующими утилитами также происходит
        #[+Keyphrase--YDID с небольшой, но задержкой].
      Ввиду этого, #[+Keyphrase--YDID без специальных мер] будет #[+Keyword--YDID одна] пересборка
        #[+Keyphrase--YDID на каждый сохранённый файл], что будет давать
        #[+Keyphrase--YDID всё большую нагрузку на аппаратное обеспечение] по мере увеличения количества файлов,
        пока станет невозможно осуещствлять разработку в нормальном режиме.
      Чтобы это оптимизировать, необходимо подождать некоторое время после того, как один файл будет сохранён —
        возможно вслед за ним через несколько #[+Term--YDID миллисекунд] будет замечено сохранение
        #[+Keyword--YDID последующих] файлов.

    p.Article-Paragraph.
      В #[+ImportantEntity--YDID YDA]
        #[+Keyphrase--YDID на #[+Keyword--YDID инкрементальных] #[+Term--YDID режимах сборки]] после сохранения
        #[+Keyword--YDID одного] #[+Term--YDID Stylus-файла] запускается таймер ожидания пересборки, который истекает через
        #[+ImportantEntity__Code--YDID secondsBetweenFileUpdatingAndStartingOfRebuilding] секунд.
      Если #[+Keyword--YDID до] истечения этого таймера #[+Keyword--YDID не] будет сохранено
        #[+Keyword--YDID ни одного] #[+Keyword__Contrast--YDID последующего] #[+Term--YDID Stylus-файла], то запустится
        новый цикл обработки #[+Term--YDID Stylus-файлов].
      Если же #[+Keyword--YDID до] истечения этого таймера будет сохранён #[+Keyword--YDID ещё] один
        #[+Term--YDID Stylus-файл], то таймер ожидания будет #[+Keyword--YDID перезапущен], и так до тех пор, пока в течение
        #[+ImportantEntity__Code--YDID secondsBetweenFileUpdatingAndStartingOfRebuilding]
        #[+Keyword--YDID не] будет сохранено #[+Keyword--YDID ни] #[+Keyword__Contrast--YDID одного]
        #[+Keyword--YDID последующего] #[+Term--YDID Stylus-файла].

    p.Article-Paragraph.
      Значения #[+Keyphrase--YDID по умолчанию] #[+Keyword--YDID достаточно] #[+Keyphrase--YDID для начальной],
        стадии разработки, когда #[+Keyword--YDID обычно] количество файлов невелико.
      Однако когда количество файлов станет #[+Keyphrase--YDID порядка несколько десятков], может стать желательным
        увеличить значение #[+ImportantEntity__Code--YDID secondsBetweenFileUpdatingAndStartingOfRebuilding].
      Поскольку #[+Keyphrase--YDID по умолчанию] обнаружение изменений в #[+Term--YDID Stylus-файлах] и начало обработки
        каждого #[+Term--YDID Stylus-файла] логируются, то Вы сможете заметить потребность в изменении значения
        #[+ImportantEntity__Code--YDID secondsBetweenFileUpdatingAndStartingOfRebuilding].
