extends ../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../SharedAssets/Markup/SharedAssets.russian.pug
  include ../../../SharedComponents/SharedComponents.russian.pug


block append Metadata

  -

    const {
      $heading: topHeading,
      $sectioning: localizedSectioning
    } = localizedRouting.configurationFile.$children.stylesProcessing;

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("Настройки Обработки Стилей"),
        description:
            "Описание конфигурации обработки стилей (исходный код: Pug, выходной код: HTML) в «Yamato Daiwa Automation» " +
              "(сокращённо: «YDA», читается: «Уай-ди-эй»), Node.js-утилите для сборки проектов (клиентских веб-приложений, " +
              "серверных приложений, консольных утилит, библиотек).",
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute("configurationFile.stylesProcessing");

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.configurationFile.$children.stylesProcessing.$heading.$URI,
      japanese: routing.japanese.configurationFile.$children.stylesProcessing.$heading.$URI
    });


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    //- ━━━ Настройки обработки стилей ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h1.Article-Heading1= topHeading

    p.Article-Paragraph.
      Обработка #[+Term--YDID стилей] может быть настроена в
        #[+ImportantEntity__Code--YDID $projectBuilding.$stylesProcessing]
        #[+Term--YDID файла конфигурации] (#[+ImportantEntity--YDID yda.config.yaml] #[+Keyphrase--YDID по умолчанию]):

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.YAML }).
        $projectBuilding:

          $stylesProcessing:

            # Задайте настройки обработки стилей здесь в соответствии с данным руководством


    //- ━━━ `$common` — общие настройки  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h2.Article-Heading2 #[code $common] — общие настройки

    +PropertyMetadata--YDF_DK({
      type: "StylesProcessingSettings__FromFile__RawValid.Common",
      required: false
    })

    p.Article-Paragraph
      | Определяет настройки, #[+Keyword--YDID не]&nbsp;связанные с конкретной
      |
      +Link--YDF({
        internalURI: localizedRouting.terminology.$sectioning.entryPointsAndChildrenFiles.$children.entryPointsGroup.$URI
      }).Article-Link группой точек входа
      | .


    //-
      //- ─── `periodBetweenFileUpdatingAndRebuildingStarting__seconds` — ────────────────────────────────────────────────
      //- ─── Интервал между сохранением последнего файла стилей и началом пересборки` ───────────────────────────────────
      h3.Article-Heading3
        | #[code periodBetweenFileUpdatingAndRebuildingStarting__seconds] — Интервал между сохранением последнего файла
        |   стилей и началом пересборки

      +PropertyMetadata--YDF_DK({
        type: Number,
        numbersSet: RawObjectDataProcessor.NumbersSets.naturalNumber,
        defaultValue: 1
      })

      p.Article-Paragraph.
        Определяет, сколько #[+Keyword--YDID секунд] должно пройти с момента сохранения #[+Keyword--YDID последнего]
          #[+Keyword__Contrast--YDID исходного] #[+Term--YDID файла разметки] (то есть #[+Term--YDID Pug-файла]) до
          начала нового цикла обработки файлов #[+Term--YDID разметки] включая конвертацию из #[+ImportantEntity--YDID Pug]
          в #[+ImportantEntity--YDID HTML].
        Актуально для #[+Term--YDID инкрементальных режимов сборки] (#[+Term--YDID статическое превью],
          #[+Term--YDID локальная разработка]).
