-

  const routingJapaneseLocalization = {

    fileNameLocalizationExtensions: "japanese",

    topPage: {
      $heading: "トップ",
      URI: "@All/Top/TopPage.japanese"
    },

    terminology: { $heading: "用語" },

    functionality: {
      $heading: "機能",
      markupProcessing: {
        $heading: "構造設計記法処理",
        basicPugToHTML_Transpiling: {
          $heading: "PugからHTMLへ基本変換",
          incrementalBuilding: "増分構成"
        },
        globalConstants: { $heading: "グローバル定数" },
        pugFilters: { $heading: "Pugフィルター" },
        outputHTML_Formatting: { $heading: "出力HTMLコードのフォーマット化" }
      }
    },

    configuration: {
      $heading: "設定",
      markupProcessing: {
        $heading: "構造設計記法処理",
        staticPreview: {
          $heading: "静的プレビュー",
          pagesStateDependentVariations: { $heading: "ページ状態変形" }
        }
      }
    }

  };
