doctype html


html(lang="en")

  head

    title Sample Web application

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    //- link(rel="stylesheet" href="$Bootstrap")
    link(rel="stylesheet" href="$Bootstrap/bootstrap-grid.min.css")
    link(rel="stylesheet" href="$Bootstrap/bootstrap-reboot.min.css")
    link(rel="stylesheet" href="$Bootstrap/bootstrap.min.css")


  body

    h1 Plain copying test

    .alert.alert-success(
      role="alert"
    ) Looks like the bootstrap has been imported fine!
