-

  $$YamatoDaiwaAutomationAPI.ProjectBuildingCommonSettings__FromFile__RawValid.propertiesSpecification.
      $selectiveExecutions.value.properties.$tasksAndSourceFilesSelection.localizedInterpretation =
          "課題・ソースファイルの標本";

  $$YamatoDaiwaAutomationAPI.ProjectBuildingCommonSettings__FromFile__RawValid.propertiesSpecification.
      $selectiveExecutions.value.properties.$browserLiveReloadingSetupID.localizedInterpretation =
          "ブラウザー自動リロードのプリセットID";

  $$YamatoDaiwaAutomationAPI.ProjectBuildingCommonSettings__FromFile__RawValid.propertiesSpecification.
      $selectiveExecutions.value.properties.$distributablePackageJSON_Generating.localizedInterpretation =
          "構成専用「package.json」の生成";
