include ProjectBuildingCommonSettings__FromFile__RawValid.pug

-

  ProjectBuildingCommonSettings__FromFile__RawValid.propertiesSpecification.$selectiveExecutions.value.properties.
      $tasksAndSourceFilesSelection.localizedInterpretation = "Выборка задач и исходных файлов";

  ProjectBuildingCommonSettings__FromFile__RawValid.propertiesSpecification.$selectiveExecutions.value.properties.
      $browserLiveReloadingSetupID.localizedInterpretation = "ID пресета автоматической перезагрузки браузера";

  ProjectBuildingCommonSettings__FromFile__RawValid.propertiesSpecification.$selectiveExecutions.value.properties.
      $distributablePackageJSON_Generating.localizedInterpretation ="Генерация файла \"package.json\" для дистрибутива";
