doctype html


block Requirements

  - const $$pageStringResources = $$localizedStringResources.pages.products.list;


html(lang=$$HTML_TAG_LANG_ATTRIBUTE_VALUE)

  head

    title= $$pageStringResources.metadata.title

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")


  body

    h1= $$pageStringResources.topHeading
