doctype html


html(lang="en")

  head

    title Incremental building functional testing

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")


  body

    ul

      li: a(href="./TopPage.html") Top page
      li: a(href="./SignInPage.html") Sign in page
