extends ../../node_modules/@yamato-daiwa/frontend/PagesTemplates/StaticPreviewAnywherePage.pug


block append Metadata

  - HTML_PAGE_TITLE = "Pages state dependent variations test";


block append TableOfContents

  h1.AnywherePage-TopHeading= HTML_PAGE_TITLE

  h2.AnywherePage-PagesGroupHeading Products

  +PageLinksGroup({
    title: "ProductsList",
    linksData: [
      { label: "Normal displaying", URI: "@Pages/Product/ProductsListPage" },
      { label: "Loading", URI: "@Pages/Product/ProductsListPage__Loading" },
      { label: "Error", URI: "@Pages/Product/ProductsListPage__Error" },
      { label: "No items", URI: "@Pages/Product/ProductsListPage__NoItems" },
      { label: "No search results", URI: "@Pages/Product/ProductsListPage__NoSearchResults" },
    ],
    progressStatus: StaticPreviewAnywherePage.PageDevelopmentProgressStatuses.implementationInProgress
  })
