extends ../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../SharedAssets/Markup/SharedAssets.russian.pug
  include ../../../SharedComponents/SharedComponents.russian.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ru";
    HTML_PAGE_TITLE = buildHTML_PageTitle("Настройки обработки разметки");
    HTML_PageMetaData = {
      description:
          "Описание конфигурации обработки разметки (исходный код: Pug, выходной код: HTML) в «Yamato Daiwa Automation» " +
            "(сокращённо: «YDA», читается: «Уай-ди-эй»), Node.js-утилите для сборки проектов (клиентских веб-приложений, " +
            "серверных приложений, консольных утилит, библиотек).",
      author: HTML_PAGE_AUTHOR
    };

    FAVICON_URI = "@MustBeInPublicRoot/favicon";

    styleSheetsURIs = [
      "$CommonStyles",
      "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
      "$PreMadesStyles",
      "@CustomizedExternalComponents"
    ];

    scriptsURIs.endOfBody = [ "$CommonLogic" ];

    RoutingEmulator.setCurrentRoute("functionality.children.markupProcessing.children.basicPugToHTML_Transpiling");

    LanguageDropDownList__YDF_DK.setLinks({
      english: "./MarkupProcessingConfiguration.english.html",
      japanese: "./MarkupProcessingConfiguration.japanese.html",
    });


block append HeadScriptsLinks

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    h1.Article-Heading1 Настройки обработки разметки

    p.Article-Paragraph.
      Обработка #[+Term--YDID разметки] может быть настроена в #[+ImportantEntity__Code--YDID projectBuilding.markupProcessing]
        файла конфигурации (#[+ImportantEntity--YDID yda.config.yaml] по умолчанию):

    +CodeViewer--YDF.Article-CodeViewer
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.YAML }).
        projectBuilding:

          markupProcessing:

            # Задайте настройки обработки разметки здесь в соответствии с этим руководством


    h2.Article-Heading2 Структура

    p.Article-Paragraph.
      #[+ImportantEntity__Code--YDID projectBuilding.markupProcessing] должны подчиняться следующим определениям
        #[+ImportantEntity--YDID TypeScript]-типов:

    +CodeViewer--YDF.Article-CodeViewer
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.TypeScript })
        include _MarkupProcessingConfigurationSchema.pug


    h2.Article-Heading2 Подробности

    h3.Article-Heading3 #[code common] — общие настройки

    dl.Article-DescriptionList

      dt Тип
      dd object

      dt Обязательность
      dd Необязательное

    p.Article-Paragraph.
      Определяет настройки, которые #[+Keyword--YDID не] связаны с конкретной #[+Term--YDID группой точек входа].


    h4.Article-Heading4
      code periodBetweenFileUpdatingAndRebuildingStarting__seconds
      |
      | — Интервал между сохранением последнего файла разметки и началом пересборки

    dl.Article-DescriptionList

      dt Тип
      dd number

      dt Значение по умолчанию
      dd 1

    p.Article-Paragraph.
      Определяет, сколько #[+Keyword--YDID секунд] должно пройти с момента сохранения #[+Keyword--YDID последнего]
        #[+Keyword__Contrast--YDID исходного] #[+Term--YDID файла разметки] (то есть #[+Term--YDID Pug-файла]) до
        начала нового цикла обработки файлов #[+Term--YDID разметки] включая конвертацию из #[+ImportantEntity--YDID Pug]
        в #[+ImportantEntity--YDID HTML].
      Актуально для #[+Term--YDID инкрементальных режимов сборки] (#[+Term--YDID статическое превью],
        #[+Term--YDID локальная разработка]).

    p.Article-Paragraph.
      Даже если #[+Term--YDID интегрированная среда разработки] может сохранять несколько файлов #[+Keyword--YDID за раз],
        #[+Keyphrase--YDID на самом деле] они сохраняются #[+Keyword--YDID не] одновременно, а
        #[+Keyphrase--YDID с разницей в несколько #[+Term--YDID миллисекунд]].
      Кроме того, обнаружение изменения статуса файлов соответствующей утилитой также происходит
        #[+Keyphrase--YDID с небольшой, но задержкой].
      Ввиду этого, #[+Keyphrase--YDID без специальных мер] будет #[+Keyword--YDID одна] пересборка
        #[+Keyphrase--YDID на каждый сохранённый файл], что становится
        #[+Keyphrase--YDID всё большим стрессом для аппаратного обеспечения] по мере возрастания количества файлов.
      Чтобы это оптимизировать, необходимо подождать некоторое время после того, как один файл будет обновлён —
        возможно вслед за ним через несколько #[+Term--YDID миллисекунд] будет замечено сохранение
        #[+Keyword--YDID последующих] файлов.

    p.Article-Paragraph.
      В #[+ImportantEntity--YDID YDA] #[+Keyphrase--YDID на инкрементальных режимах сборки] после сохранения
        #[+Keyword--YDID одного] #[+Term--YDID Pug-файла] запускается таймер ожидания пересборки, который истекает через
        #[+ImportantEntity__Code--YDID periodBetweenFileUpdatingAndRebuildingStarting__seconds] секунд.
      Если #[+Keyword--YDID до] истечения этого таймера #[+Keyword--YDID не] будет сохранено
        #[+Keyword--YDID ни одного] #[+Keyword__Contrast--YDID последующего] #[+Term--YDID Pug-файла], то запустится
        новый цикл обработки #[+Term--YDID Pug-файлов].
      Если же #[+Keyword--YDID до] истечения этого таймера будет сохранён #[+Keyword--YDID ещё] один
        #[+Term--YDID Pug-файл], то таймер ожидания будет #[+Keyword--YDID перезапущен], и так до тех пор, пока в течение
        #[+ImportantEntity__Code--YDID periodBetweenFileUpdatingAndRebuildingStarting__seconds]
        #[+Keyword--YDID не] будет сохранено #[+Keyword--YDID ни] #[+Keyword__Contrast--YDID одного] последующего
        #[+Term--YDID Pug-файла].

    p.Article-Paragraph.
      Значения #[+Keyword--YDID по умолчанию] #[+Keyword__Contrast--YDID достаточно]
        #[+Keyphrase--YDID для начальной стадии разработки], когда обычно количество файлов невелико.
      Однако как только количество файлов станет порядка несколько десятков, может стать желательным увеличить значение
        #[+ImportantEntity__Code--YDID periodBetweenFileUpdatingAndRebuildingStarting__seconds]
        (#[+Keyword--YDID возможны] #[+ImportantEntity--YDID дробные числа], например #[+SecondaryEntity--YDID 1.5]).
      Поскольку #[+Keyword--YDID по умолчанию] обнаружение изменений в #[+Term--YDID Pug-файлах] и начало обработки
        каждого #[+Term--YDID Pug-файла] логируются, то Вы сможете заметить потребность в изменении значения
        #[+ImportantEntity__Code--YDID periodBetweenFileUpdatingAndRebuildingStarting__seconds], если таковая возникнет.


    h4.Article-Heading4  #[code buildingModeDependent] — настройки, зависящие от режима сборки

    dl.Article-DescriptionList

      dt Тип
      dd object типа «ассоциативный массив»

      dt Обязательность
      dd Необязателен

      dt Ключи
      dd Должны быть режимом сборки проекта

      dt Допустимые ключи
      dd
        ul.Article-UnorderedList
          li STATIC_PREVIEW
          li LOCAL_DEVELOPMENT
          li TESTING
          li STAGING
          li PRODUCTION

      dt Тип значения
      dd Объект

      dt Схема значения
      dd
        +CodeListing--YDF: :html_special_characters_to_html_entities
          export type EntryPointsGroup =
              SourceCodeProcessingSettingsGenericProperties__FromFile__RawValid.EntryPointsGroup &
              Readonly<{
                HTML_Validation?: EntryPointsGroup.HTML_Validation;
                accessibilityInspection?: EntryPointsGroup.AccessibilityInspection;
                convertToHandlebarsOnNonStaticPreviewModes?: boolean;
                buildingModeDependent: Readonly<{ [projectBuildingMode: string]: EntryPointsGroup.BuildingModeDependent; }>;
              }>;


    p.Article-Paragraph.
      Настройки, зависящие от #[+Term--YDID режима сборки проекта], однако #[+Keyword--YDID общие] для
        #[+Keyword__Contrast--YDID всех] #[+Term--YDID групп точек входа].
      Не следует путать с настройками #[+ImportantEntity--YDID entryPointsGroups.entryPointsGroups.[GROUP_ID].buildingModeDependent],
        которые зависят как от #[+Term--YDID группы точек входа], так и от #[+Term--YDID режима сборки проекта].


    h3.Article-Heading3 #[code logging] — настройки логирования

    dl.Article-DescriptionList

      dt Тип
      dd object

      dt Обязательность
      dd Необязательное

    p.Article-Paragraph.
      Определяет настройки логирования в терминал.


    h4.Article-Heading4 #[code filesPaths] — пути файлов

    dl.Article-DescriptionList

      dt Тип
      dd boolean

      dt Значение по умолчанию
      dd true

    p.Article-Paragraph.
      Выводит в консоль пути обрабатываемых файлов, относительные директории, в которой находится файл настроек YDA.

    p.Article-Paragraph.
      Поскольку при начале обработке Pug-файла должна быть какая-то обратная связь, то по умолчанию это логирование
        включено.


    h4.Article-Heading4 #[code filesCount] — число файлов

    dl.Article-DescriptionList

      dt Тип
      dd boolean

      dt Значение по умолчанию
      dd false

    p.Article-Paragraph.
      Выводит в количество файлов, которое будет обработано в одном цикле сборки
        (на режимах инкрементальной сборки таких циклов может быть сколь угодно много, и каждый раз с разным количеством
        файлов).

    p.Article-Paragraph.
      По умолчанию имеет значение false, так как если файлов мало, то обычно достаточно вывести лишь пути обрабатываемых
        файлов, а если файлов много, мало кто захочет проверять правильность этого числа.
    //- ━━━ TODO 再開点 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
