extends ../../../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  include ../../../SharedAssets/Markup/SharedAssets.russian.pug
  include ../../../SharedComponents/SharedComponents.russian.pug
  include Data/ProjectBuildingCommonSettings__FromFile__RawValid.russian.pug


block append Metadata

  -

    const {
      $heading: topHeading,
      $sectioning: localizedSectioning
    } = localizedRouting.configurationFile.$children.commonSettings;

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle(topHeading),
        description:
            "Общие настройки инструмента сборки проектов «Yamato Daiwa Automation» (сокращённо — «YDA») либо не имеют " +
              "отношение к конкретным задачам, либо имеют отношение сразу к нескольким задачам."
      },
      stylesSheetsURIs: [
        "$CommonStyles",
        "$LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "$PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute("configurationFile.commonSettings");

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.configurationFile.$children.commonSettings.$URI,
      japanese: routing.japanese.configurationFile.$children.commonSettings.$URI
    });


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    //- ━━━ `$common` — Общие настройки ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    h1.Article-Heading1!= topHeading

    p.Article-Paragraph
      | Настройки, #[+Keyword--YDID не]&nbsp;имеющие отношение к конкретной
      |
      +Link--YDF({
        internalURI: localizedRouting.terminology.$sectioning.task.$URI
      }) задаче
      |
      | и/или имеющие отношение сразу к нескольким #[+Term--YDID задачам] могут быть определены в
      | #[+ImportantEntity__Code--YDID $projectBuilding.$commonSettings]:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.YAML }).
        $projectBuilding:

          $commonSettings:

            # Задайте общие настройки здесь в соответствии с данным руководством

    +CompactTableOfContents--YDF_DK(localizedSectioning)


    //- ━━━ `$selectiveExecutions` — Выборочные выполнения ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    +Heading--YDF({
      level: 2,
      innerHTML: localizedSectioning.selectiveExecutions.$heading,
      HTML_ID: localizedSectioning.selectiveExecutions.$anchor
    }).Article-Heading2

    +PropertyMetadata--YDF_DK(
      Object.assign(
        {},
        $$YamatoDaiwaAutomationAPI.ProjectBuildingCommonSettings__FromFile__RawValid.propertiesSpecification.$selectiveExecutions,
        {
          value: {
            type: {
              name: "ProjectBuildingCommonSettings__FromFile__RawValid.SelectiveExecution",
              anchorOrURI: localizedSectioning.selectiveExecutions.$children.settingUpOfEachItem.$URI
            }
          }
        }
      )
    )

    p.Article-Paragraph
      | #[+Term--YDID Объект] #[+Term__Contrast--YDID типа] #[+Term--YDID «ассоциативный массив»], с помощью которого
      |   осуществляется определение
      |
      +Link--YDF({
        internalURI: localizedRouting.terminology.$sectioning.selectiveExecution.$URI
      }) выборочных выполнений
      | .

    p.Article-Paragraph.
      Через #[+Keyword--YDID ключи] указываются #[+Keyword--YDID идентификаторы] #[+Term--YDID выборочных выполнений].

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.YAML }).
        $projectBuilding:

          $commonSettings:

            $selectiveExecutions:

              StaticPreview:

                # Конфигурация выборочного выполнения «StaticPreview» (подробности см. далее)

              Application:

                # Конфигурация выборочного выполнения «Application» (подробности см. далее)

    p.Article-Paragraph.
      В соответствии с соглашением об определении настроек, отсуствтие символа #[+ImportantEntity__Code--YDID $] перед
        этими #[+Term--YDID ключами] означает, что их имя выбрано пользователем и #[+Keyword--YDID не]&nbsp;является
        #[+Term--YDID зарезервированным ключом] в #[+Term__Contrast--YDID API].

    p.Article-Paragraph
      +Keyphrase--YDID.
        После того, как #[+Keyword--YDID валидные] настройки #[+Term--YDID выборочных выполнений] определены
      |   , при вызове #[+Term--YDID консольной утилиты] #[+ImportantEntity__Code--YDID yda] через #[+Term--YDID опцию]
      |  #[+ImportantEntity__Code--YDID --selectiveExecution] можно указать
      |  #[+Keyphrase--YDID один из объявленных в файле конфигурации] #[+Term--YDID идентификаторов]
      |  #[+Term__Contrast--YDID выборочного выполнения], например:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.Bash }).
        yda build --selectiveExecution Application --mode LOCAL_DEVELOPMENT

    p.Article-Paragraph.
      #[+Term--YDID Значениями] #[+Term__Contrast--YDID ассоциативного массива]
        #[+ImportantEntity__Code--YDID $selectiveExecutions] являются #[+Term--YDID объекты], которые
        #[+Keyword--YDID должны] быть указаны в соответствие с приведёнными ниже правилами.


    //- ─── Настройки каждого выборочного выполнения ───────────────────────────────────────────────────────────────────
    +Heading--YDF({
      level: 3,
      text: localizedSectioning.selectiveExecutions.$children.settingUpOfEachItem.$heading,
      HTML_ID: localizedSectioning.selectiveExecutions.$children.settingUpOfEachItem.$anchor
    }).Article-Heading3

    +ObjectTypeAbstract--YDF_DK({
      typeName: "ProjectBuildingCommonSettings__FromFile__RawValid.SelectiveExecution",
      localizedDescriptiveHeading: "Настройки конкретного выборочного выполнения",
      propertiesSpecification: $$YamatoDaiwaAutomationAPI.ProjectBuildingCommonSettings__FromFile__RawValid.
          propertiesSpecification.$selectiveExecutions.value.properties
    })


    //- ─── `tasksAndSourceFilesSelection` — выборка задачи и исходных файлов ──────────────────────────────────────────
    +Heading--YDF({
      level: 4,
      innerHTML: localizedSectioning.selectiveExecutions.$children.settingUpOfEachItem.$children.
          tasksAndSourceFilesSelection.$heading,
      HTML_ID: localizedSectioning.selectiveExecutions.$children.settingUpOfEachItem.$children.
          tasksAndSourceFilesSelection.$anchor
    }).Article-Heading4

    +PropertyMetadata--YDF_DK(
      $$YamatoDaiwaAutomationAPI.ProjectBuildingCommonSettings__FromFile__RawValid.propertiesSpecification.
          $selectiveExecutions.value.properties.$tasksAndSourceFilesSelection
    )

    p.Article-Paragraph
      | #[+Term--YDID Объект] #[+Term__Contrast--YDID типа] #[+Term--YDID «ассоциативный массив»],
      |   #[+Term--YDID ключами] которого являются названия
      |
      +Link--YDF({
        internalURI: localizedRouting.terminology.$sectioning.task.$URI
      }) задач
      |
      | (#[+Keyphrase--YDID но #[+Keyword--YDID не]&nbsp;всех, а только упомянутых выше]), а #[+Term--YDID значениями]
      | — #[+Term--YDID массивы] имён
      |
      +Link--YDF({
        internalURI: localizedRouting.terminology.$sectioning.entryPointsAndChildrenFiles.$children.entryPointsGroup.$URI
      }) групп точек входа
      |
      | (в случае #[+Term--YDID задач] обработки #[+Term--YDID исходного кода]) или
      |
      +Link--YDF({
        internalURI: localizedRouting.terminology.$sectioning.assets.$children.groups.$URI
      }) группы ассетов
      |
      | (в случае задач обработки
      |
      +Link--YDF({
        internalURI: localizedRouting.terminology.$sectioning.assets.$URI
      }) ассетов
      |
      | или
      |
      +Link--YDF({
        internalURI: localizedRouting.configurationFile.$children.plainCopying.$URI
      }) простого копирования файлов
      | ).
      | При этом, #[+Keyword--YDID все] #[+Term--YDID задачи] и #[+Term--YDID группы] #[+Term__Contrast--YDID точек входа]
      |   или #[+Term__Contrast--YDID ассетов] #[+Keyphrase--YDID упомянутые в #[+Term--YDID выборочном выполнении]]
      |   #[+Keyword--YDID должны] быть объявлены в #[+Keyphrase--YDID том же] файле конфигурации:

    +CodeViewer--YDF

      +CodeViewer-TabPanel--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.YAML })

        +CodeViewer-PartialListing--YDF: :code_listing--yda
          $projectBuilding:

            $commonSettings:

              $selectiveExecutions:

                StaticPreview:

                  $tasksAndSourceFilesSelection:

                    $markupProcessing: [ StaticPreviewAnywherePage, Pages ]
                    $stylesProcessing: [ Shared, Layouts, Pages ]

                Application:

                  $tasksAndSourceFilesSelection:

                    $markupProcessing: [ Pages, MVC_Fragments ]
                    $stylesProcessing: [ Shared, Layouts, Pages ]
        +CodeViewer-Explanation--YDF.
          #[+Keyphrase--YDID Если используются #[+Term--YDID выборочные выполнения]], то
            #[+Keyphrase--YDID для каждого из них по умолчанию] #[+Keyword--YDID не]&nbsp;будут выбраны
            #[+Keyword--YDID никакие] #[+Term--YDID группы] #[+Term__Contrast--YDID точек входа] или
            #[+Term__Contrast--YDID ассетов], поэтому даже если набор этих #[+Term--YDID групп] такой же, как и в
            другом #[+Term--YDID выборочном выполнении], его всё равно #[+Keyword--YDID необходимо]
            #[+Keyword__Contrast--YDID явно] указать.

        +CodeViewer-PartialListing--YDF: :code_listing--yda(indentationMultiplier="6" indentationString="  ")
                    $ECMA_ScriptLogicProcessing: [ Pages, FrontServerEntryPoint, TypeORM_Configuration ]
        +CodeViewer-Explanation--YDF.
          Для того, чтобы указанные выше настройки работали, #[+Keyphrase--YDID все упомянутые выше] #[+Term--YDID задачи]
            #[+Keyword--YDID и] #[+Term--YDID группы ресурсов] #[+Keyword--YDID должны] быть объявлены:

        +CodeViewer-PartialListing--YDF: :code_listing--yda(indentationMultiplier="2" indentationString="  ")
            $markupProcessing: # См. документацию по настройке обработки разметки

              $entryPointsGroups:

                StaticPreviewAnywherePage: # ...

                Pages: # ...

                MVC_Fragments: # ...

            $stylesProcessing: # См. документацию по настройке обработки стилей

              $entryPointsGroups:

                Shared: # ...

                Layouts: # ...

                Pages: # ...

            $ECMA_ScriptLogicProcessing: # См. документацию по настройке обработки ECMAScript-логики

              $entryPointsGroups:

                Pages: # ...

                FrontServerEntryPoint: # ...

                TypeORM_Configuration: # ...


    //- ─── `$browserLiveReloadingSetupID` — ID настроек автоматической перезагрузки вкладки браузера ──────────────────
    +Heading--YDF({
      level: 4,
      innerHTML: localizedSectioning.selectiveExecutions.$children.settingUpOfEachItem.$children.
          browserLiveReloadingSetupID.$heading,
      HTML_ID: localizedSectioning.selectiveExecutions.$children.settingUpOfEachItem.$children.
          browserLiveReloadingSetupID.$anchor
    }).Article-Heading4

    +PropertyMetadata--YDF_DK(
      $$YamatoDaiwaAutomationAPI.ProjectBuildingCommonSettings__FromFile__RawValid.propertiesSpecification.
          $selectiveExecutions.value.properties.$browserLiveReloadingSetupID
    )

    p.Article-Paragraph
      | Имеет отношение к функциональности
      |
      +Link--YDF({
        internalURI: localizedRouting.functionality.$children.browserLiveReloading.$URI
      }) автоматической перезагрузки браузера
      | .
      |
      +Link--YDF({
        internalURI: localizedRouting.configurationFile.$children.browserLiveReloading.$URI
      }) API этой функциональности
      |   позволяет определить #[+Keyword--YDID несколько] #[+Term--YDID пресетов], при этом #[+Keyword--YDID каждому]
      |   из них #[+Keyword--YDID необходимо] задать идентификатор.
      | Тогда, если в конкретном #[+Term--YDID выборочном выполнении] затребована функциональность автоматической
      |   перезагрузки браузера, то через #[+Term--YDID свойство]
      |   #[+ImportantEntity__Code--YDID $browserLiveReloadingSetupID] #[+Keyword--YDID требуется] указать
      |   идентификатор нужного #[+Term--YDID пресета]:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.YAML }).
        $projectBuilding:

          $commonSettings:

            $selectiveExecutions:

              StaticPreview:

                $tasksAndSourceFilesSelection:

                  # См. выше

                $browserLiveReloadingSetupID: StaticPreview

              Application:

                $tasksAndSourceFilesSelection:

                  # См. выше

                $browserLiveReloadingSetupID: Application

          $browserLiveReloading:

            $setups:

              StaticPreview:

                # См. документацию по настройке автоматической перезагрузки браузера

              Application:

                # См. документацию по настройке автоматической перезагрузки браузера

    //- ─── `$distributablePackageJSON_Generating` — Генерация файла «package.json» для дистрибутива ───────────────────
    +Heading--YDF({
      level: 4,
      innerHTML: localizedSectioning.selectiveExecutions.$children.settingUpOfEachItem.$children.
          $distributablePackageJSON_Generating.$heading,
      HTML_ID: localizedSectioning.selectiveExecutions.$children.settingUpOfEachItem.$children.
          $distributablePackageJSON_Generating.$anchor
    }).Article-Heading4

    +PropertyMetadata--YDF_DK(
      $$YamatoDaiwaAutomationAPI.ProjectBuildingCommonSettings__FromFile__RawValid.propertiesSpecification.
          $selectiveExecutions.value.properties.$distributablePackageJSON_Generating
    )

    p.Article-Paragraph
      | Имеет отношение к
      |
      +Link--YDF({
        internalURI: localizedRouting.functionality.$children.distributablePackageJSON_Generating.$URI
      })  функциональности генерации package.json для дистрибутива
      | .
      | Данный #[+Term--YDID булевский флаг] устанавливает, нужно ли для данного #[+Term--YDID выборочного выполнения]
      |   генерировать #[+ImportantEntity--YDID package.json], хотя если если не&nbsp;нужно, то можно просто
      |   не&nbsp;указывать эту опцию.
      | Если же этот флаг установлен в значение #[+ImportantEntity__Code--YDID true], то #[+Keyword--YDID необходимо]
      |   определить настройки #[+Keyword--YDID одноимённой] группы
      |   #[+ImportantEntity__Code--YDID $distributablePackageJSON_Generating]:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.YAML }).

        $projectBuilding:

          $commonSettings:

            $selectiveExecutions:

              Application:

                $distributablePackageJSON_Generating: true


          $distributablePackageJSON_Generating:

            # См. документацию по настройки выходного файла package.json


    //- ━━━ `$publicDirectoriesRelativePaths` — Относительные пути публичных директорий ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
    +Heading--YDF({
      level: 2,
      innerHTML: localizedSectioning.publicDirectoriesRelativePaths.$heading,
      HTML_ID: localizedSectioning.publicDirectoriesRelativePaths.$anchor
    }).Article-Heading2

    +PropertyMetadata--YDF_DK(
      $$YamatoDaiwaAutomationAPI.ProjectBuildingCommonSettings__FromFile__RawValid.propertiesSpecification.
          $publicDirectoriesRelativePaths
    )

    p.Article-Paragraph
      | Имеет отношение к функциональности
      |
      +Link--YDF({
        internalURI: localizedRouting.functionality.$children.markupProcessing.$children.resourcesPointersResolving.$URI
      }) вычисления указателей на ресурсы
      | .
      | Для того, чтобы вычислить
      |
      +Link--YDF({
        internalURI: localizedRouting.terminology.$sectioning.importantForYDA_ExistingTerms.$children.
            publicPathAndShortenedAbsolutePath.$URI
      }) укороченный абсолютный путь
      |
      | (#[+Keyword--YDID невозможно] для #[+Term--YDID режима сборки] #[+Term__Contrast--YDID статического превью] в
      |   силу его концепции), #[+Keyword--YDID необходимо] указать, какой #[+Term--YDID директории] соответствует
      |   #[+Term--YDID корень] #[+Term--YDID укороченного абсолютного пути].
      | Эту #[+Term--YDID директорию] #[+Keyword--YDID необходимо] указать в виде #[+Term--YDID пути],
      |   #[+Keyword--YDID относительного] уже #[+Term--YDID директории проекта]:

    +CodeViewer--YDF
      +CodeViewer-Listing--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.YAML }).
        $projectBuilding:

          $commonSettings:

            $publicDirectoriesRelativePaths:

              $localDevelopment: 03-LocalDevelopmentBuild/public
              $staging: 04-StagingBuild/public
              $production: 05-ProductionBuild/public
