-

  function generateSharedExternalLinks(localization) {

    /* [ Methodology ] Keep this variable to easily copy the qualified name by IntelliJ IDEA IDEs functionality. */
    const sharedExternalLinks = {

      YamatoDaiwa: {
        homePage: {
          top: "https://yamato-daiwa.com/"
        }
      },

      pug: {
        homePage: {
          top: "https://pugjs.org/api/getting-started.html",
          officialProjectStatusRequest: "https://github.com/pugjs/pug/issues/3395"
        }
      }

    };

    return sharedExternalLinks;

  }
