include Terminology.toc.pug


-

  localizedRouting.terminology.$sectioning =

      generatePageTableOfContents(
        (() => {

          /* [ Maintainability ] Keep this constant to make able the copying of qualified names in IntelliJ IDEA IDEs. */
          const localizedStrings = {

            project: {
              $heading: "Проект (Project)",
              building: { $heading: "Сборка проекта (Project building)" }
            },

            task: { $heading: "Задача (Task)" },
            scenario: { $heading: "Сценарий (Scenario)" },
            projectBuildingMode: { $heading: "Режим сборки проекта (Project building mode)" },

            entryPointsAndChildrenFiles: {
              $heading: "Точки входа и дочерние файлы",
              markup: { $heading: "Разметка" },
              styles: { $heading: "Стили" },
              ECMA_ScriptLogic: { $heading: "ECMAScript-логика" }
            }

          };

          return localizedStrings;

        })()
      );
