-

  const routingEnglishLocalization = {

    fileNameLocalizationExtensions: "english",

    topPage: {
      $heading: "Top",
      URI: "@All/index"
    },

    terminology: { $heading: "Terminology" },

    functionality: {
      $heading: "Functionality",
      markupProcessing: {
        $heading: "Markup processing",
        basicPugToHTML_Transpiling: {
          $heading: "Basic Pug-to-HTML transpiling",
          incrementalBuilding: "Incremental building"
        },
        globalConstants: { $heading: "Global constants" },
        pugFilters: { $heading: "Pug filters" },
        outputHTML_Formatting: { $heading: "Output HTML code formatting" }
      }
    },

    configuration: {
      $heading: "Configuration",
      markupProcessing: {
        $heading: "Markup processing",
        staticPreview: {
          $heading: "Static preview",
          pagesStateDependentVariations: { $heading: "Pages state dependent variations" }
        }
      }
    }

  };
