-

  $$YamatoDaiwaAutomationAPI.MarkupProcessingSettings__FromFile__RawValid.propertiesSpecification.
      $common.localizedInterpretation =
          "Общие настройки";

  $$YamatoDaiwaAutomationAPI.MarkupProcessingSettings__FromFile__RawValid.propertiesSpecification.$common.properties.
      $localization.properties.$locales.value.properties.$localeConstantValue.
          undefinedForbiddenIf.descriptionForLogging =
              "`$localization.$localeConstantName` определено";

  $$YamatoDaiwaAutomationAPI.MarkupProcessingSettings__FromFile__RawValid.propertiesSpecification.$common.properties.
    $localization.properties.$locales.value.properties.$keyInLocalizedStringResourcesObject.
        undefinedForbiddenIf.descriptionForLogging =
            "`$localization.$keyInLocalizedStringResourcesObject` определено";

  $$YamatoDaiwaAutomationAPI.MarkupProcessingSettings__FromFile__RawValid.propertiesSpecification.$common.properties.
    $localization.properties.$locales.value.properties.$valueOfConstantForInterpolationToLangHTML_Attribute.
        undefinedForbiddenIf.descriptionForLogging =
            "`$localization.$nameOfConstantForInterpolationToLangHTML_Attribute` определено";
